<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="mainTitle">الشئون المالية بكلية الهندسة</h2>

        </div>

    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">المخزون</h2>
                    <p class="text-small">
                        متابعة المخازن بأنواعها المختلفة
                    </p>
                    <p class="cl-effect-1">
                        <a href>
                            عرض المزيد
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">العهد</h2>
                    <p class="text-small">
                        متابعة العهد بأنواعها المختلفة
                    </p>
                    <p class="links cl-effect-1">
                        <a href>
                            عرض المزيد
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">المستخدمين</h2>
                    <p class="text-small">
                        متابعة حركات المستخدمون
                    </p>
                    <p class="links cl-effect-1">
                        <a href>
                            عرض المزيد
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->
