<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.forms.ELEMENTS">إضافة مورد</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="row margin-top-30">
				<div class="col-lg-6 col-md-12">
					<div class="panel panel-white">
						<div class="panel-heading">
							<h5 class="panel-title">Default Form</h5>
						</div>
						<div class="panel-body">
							<form role="form">
								<div class="form-group">
									<label for="exampleInputEmail1"> اسم المورد </label>
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> اسم جهة الاتصال </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1"> صفة جهة الاتصال </label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1"> العنوان </label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                                </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> المدينة </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> الدولة </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> الرمز البريدي </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> رقم الهاتف </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> رقم الفاكس </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
							    <div class="form-group">
							        <label for="exampleInputPassword1"> ملاحظات </label>
							        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
							    </div>
								<button type="submit" class="btn btn-o btn-primary">
									Submit
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>