<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="mainTitle">عروض الاسعار</h2>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE app.purchasingRequest_insert-->
<!-- start: TABLE WITH FILTERS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="margin-bottom-30">
            <nav id="cl-effect-2" class="links cl-effect-2 pull-right">
                <a ui-sref="app.purchases.quote_insert"><span data-hover="جـديــــد">جـديــــد</span></a>
                <a href><span data-hover="الأرشيف">الأرشيف</span></a>
            </nav>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<h5 class="over-title margin-bottom-15">Table <span class="text-bold">with filters</span></h5>-->


            <div ng-controller="QuoteCtrl">
                <table ng-table="tableParams" show-filter="true" class="table table-striped">
                    <tr ng-repeat="item in $data">
                        <td data-title="'#'">{{$index+1}}</td>

                        <td data-title="'رقم العرض'" filter="{ 'Quote_ID': 'text' }" sortable="'Quote_ID'"> {{item.Quote_ID}} </td>
                        <td data-title="'التاريخ'" filter="{ 'Quote_Date': 'text' }" sortable="'Quote_Date'"> {{item.Purchase_Quote_Date}} </td>
                        <td data-title="'المورد'" filter="{ 'Quote_supplier': 'text' }" sortable="'Quote_supplier'">{{item.Quote_supplier}}</td>
                        <td data-title="'مدة الارتباط'" filter="{ 'Contract_period': 'text' }" sortable="'Contract_period'">{{item.Contract_period}}</td>
                        <td data-title="'مدة التوريد'" filter="{ 'Supply_Duration': 'text' }" sortable="'Supply_Duration'">{{item.Supply_Duration}}</td>
                        <td data-title="'رقم الملف الضريبى'" filter="{ 'Tax_File_No': 'text' }" sortable="'Tax_File_No'">{{item.Tax_File_No}}</td>
                        <td data-title="'رقم البطاقة الضريبية'" filter="{ 'Tax_Card_No': 'text' }" sortable="'Tax_Card_No'">{{item.Tax_Card_No}}</td>
                        <td data-title="'ملاحظات'" filter="{ 'Notes': 'text' }" sortable="'Notes'">{{item.Notes}}</td>
                        <td data-title="'عمليات'">


                            <a ui-sref="app.purchases.quote_edit({Quote_ID:{{item.Quote_ID}}})" title="تعديل"><i class="fa fa-edit (alias)"></i></a>
                            <a title="حذف" ng-click="deleteRow(item.Quote_ID)"><i class="fa fa-trash-o"></i></a>
                            <a title="أرشيف" ng-click="archieveRow(item.Quote_ID)"><i class="fa fa-archive"></i></a>

                        </td>

                    </tr>
                    <tr ng-show="!quotes.length">
                        <td colspan="9" style="text-align:center">لا توجد بيانات</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
